.banner__top-bar{
  display: flex;
  justify-content: space-between;
  transition: 0.4s;
  min-height: 5.4444em;

  &:hover{
    min-height: 8.8888em;
  }

  @media (max-width: 915px){
    flex-direction: row-reverse;
    min-height: initial;

    &:hover{
      min-height: initial;
    }
  }
}