.down-btn{
  display: block;
  height: 0;
  width: 0;
  overflow: hidden;

  @media (max-height:500px){
    display: none;
  }

  &:hover:after{
    color: $color8;
    text-shadow: #ffffff 0 0 5px;
  }

  &:after{
    content: '\f0ab';
    font-size: 2em;
    font-family: FontAwesome;
    color: #fff;
    position: absolute;
    margin: 0 auto;
    width: 1em;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 2em;
    animation-delay: 1s;
    animation-name: godown;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
    transition: 0.5s;



    @media (max-height: 900px) {
      bottom: initial;
      top: 82vh;
    }
  }
}

@keyframes godown {
  0% {transform: translatey(0);}
  50% {transform: translatey(10px);}
  100% {transform: translatey(0);}
}

.down-target{
  position: absolute;
  top: 87vh;
}