.main-nav__link{
  color: $color8;
  text-decoration: none;
  font-weight: bold;
  hyphens: none;
  transition: 0.6s;
  padding: 5px;

  &:hover, &:focus{
    cursor: pointer;
  }

  @media (max-width: 915px){
    text-decoration: none;
    border: none;

    &:hover, &:focus{
      color: #ffffff;
      border: none;
    }

    &:hover, &:focus{
      text-decoration: none;
    }

    &--current-page{
      &:after{
        font-family: FontAwesome;
        content: ' \f060';
        margin-left: .3em;
      }
    }
  }
}