.site-logo{
  margin-top: 0.6em;
  
  img{
    height: auto;
    width: 4.3em;
  }

  @media (max-width: 915px){
    width: 100%;
    text-align: center;
    margin-top: 0.3em;
    margin-bottom: 0;

    img{
      width: 2.7em;
    }
  }
}
