.btn{
  padding: 1.14em 0;
  background-color: $color7;
  text-decoration: none;
  font-weight: 700;
  color: $color8;
  display: block;
  text-transform: uppercase;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
  max-width: 17.2222em;

  @media (max-width:870px){
    max-width: 393px;
    width: 95%;

  }

  &:hover, &:focus{
    background-color: $color6;
    color: #000;
  }
}